:root {
    --input-padding-x: 1.5rem;
    --input-padding-y: .75rem;
}

.logo {
    display: block;
    height: fit-content;
    width: fit-content;
    padding-top: 0%;
    margin-right: 0px;
}
 .tcol1{
     margin-top: 1%;
     padding: 5px;

 }

.tcol2{
    margin-top: 1%;
    padding: 5px;

}


body {
    background: grey;
    background: linear-gradient(to left, rgb(28, 13, 114), rgb(178, 189, 31));
}

.main{
    background: transparent;
}

.textfont{
    margin-top: 100px;
    font-size: 30pt;
    color: rgb(15, 6, 41);
    margin-bottom: 5%;
}

.row{
    margin-bottom: 5%;
}

.card-title {
    margin-top: 0px;
    padding-bottom: 20px ;
    font-weight: 300;
    font-size: 1.5rem;
    text-align: center;
    border-bottom: 2px rgb(180, 223, 25) solid;
}


.card-body {
    padding: 2rem;
    border: 1px;
    text-align: center;
}

.form-control{
    margin:20px 0 20px 0;
}

 .btn {
    
    font-weight: bold;
 }

